/* Universal */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
    background-color: #F8FEBE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    /* border: 1px solid red; */
}

.bold {
    font-weight: 700;
}

.large {
    font-size: 4rem;
    margin-bottom: 0;
}

/* Header & Nav */

.logo-img {
    width: 4rem;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #a10e1d;
    padding: .5rem 1.75rem;
    border-radius: 1.75rem;
    text-decoration: none;
}

.btn.white {
    color: white;
}

/* Hero Section */

#mission {
    min-height: 400px;
    width: 100%;    
    background-image: url("./photos/express-ship.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

/* Services */

#services {
    width: 80%;
    margin: 0 auto;
}

#services.btn {
    margin: 1em 0;
}
/* Our Team */

#team-section {
    width: 80%;
    margin: 0 auto;
}

.members {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
    align-items: baseline;
}

.crew {
    flex: 0 0 auto;
}

.description {
    text-align: center;
}

/* Contact */

#contact {
    width: 80%;
    margin: 0 auto 2rem;
}

.contact-info p {
    margin: 0;
}


/* Footer */

footer {
    background-color: #7FF7ED;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}